* {
  margin: 0;
  padding: 0;
}
/* ---------------- styles header ------------ */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8% 3%;
}

.header-title {
  font-family: pirulen;
}

.header-color {
  color: #b31616;
}

.linea-vertical {
  background-color: #808080;
  height: 90px;
  width: 2px;
  margin: 0 20px;
}

.header-text {
  color: #888888;
}

.main {
  background-color: #eeede9;
  padding: 10px;
}

.container {
  background-color: #fff;
  padding: 30px 60px 90px 60px;
  margin: 30px 60px 90px 60px;
  box-shadow: 0 5px 15px #888888;
  text-align: center;
}

.container-top p {
  color: #2c2b2b;
  margin-top: 40px;
}

.logo {
  background-color: #cccccc;
  color: rgb(49, 49, 49);
  padding: 25px 15px;
}
