// color-uno = titulos header
// color-dos = background main
// color-tres = logo
// color-cuatro = button
// color-cinco = button-hoover
// color-seis = textos-secundario

$color-uno: #b31616;
$color-dos: #eeede9;
$color-tres: #cccccc;
$color-cuatro: #001c4c;
$color-cinco: #00399a;
$color-seis:#888888;
$color-siete: #ec6d6d33;
